@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400&display=swap");

img {
  width: 100%;
}

body {
  background: #f3f3f3;
  line-height: 1;
  font-size: 15px;
  font-family: "Noto Sans KR", sans-serif;
  margin: 0;
  padding: 0;
}
#header {
  margin: 0 auto;
  padding: 0;
  position: sticky;
  top: 0;

}
#header .section {
  background: #86a9b6;
  overflow: hidden;
}

#header .section .logo {
  float: left;
  margin: 0;
  padding: 2.5%;

}
#header .section .logo a {
  color: rgb(31, 31, 31);
  display: block;
  font-family: "Arimo-Bold";
  font-size: 60px;
  font-weight: normal;
  height: 30%;
  margin: 0;
  padding: 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 10%;

}

#header .section .logo span {
  color: rgb(31, 31, 31);
  display: block;
  font-family: "Arimo-Bold";
  font-size: 60px;
  font-weight: normal;
  margin: 0;
  padding: 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 10%;
}
#header .section ul {
  display: inline-block;
  float: right;
  margin: 0;
  overflow: hidden;
  padding: 3.8% 3% 0 0;
  width: 30%;
}
#header .section ul li {
  display: inline-block;
  list-style: none;
  margin: 0 1%;
  padding: 0;
}
#header .section ul li a {
  color: rgb(61, 61, 61);
  display: inline-block;
  font-size: 20px;
  height: 10%;
  letter-spacing: 0.05em;
  line-height: 30px;
  margin: 0;
  padding: 0 15px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

#header .section ul li span {
  color: rgb(61, 61, 61);
  display: inline-block;
  font-size: 20px;
  height: 10%;
  letter-spacing: 0.05em;
  line-height: 30px;
  margin: 0;
  padding: 0 15px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
#header .section ul li a:hover,#header .section ul li span:hover  {
  color: #ccc;
}

.article {
  background: #fff;
  border: 3px solid #86a9b6;
  border-radius: 4px;
  margin: 3% auto;
  overflow: hidden;
  padding: 0;
  width: 65%;
  color: #000;
}
 .article h1 {
  color: #1b2130;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 40px;
  font-weight: bolder;
  text-align: center;
  line-height: 50px;
  padding: 8%;
}
#body {
  margin: 0 auto;
  width: 80%;
  margin-bottom: 3%;
}
#body > ul {
  margin: 0;
  overflow: hidden;
  text-align: center;
}
#body > ul li {
  float: left;
  list-style: none;
  padding: 0;
  width: 40%;
  margin-bottom: 3%;
}

.body_left {
  margin-right: 10%;
}

.cat{
  width: 80%;
  height: 295px;
}
#body > ul li b {
  color: #000;
  display: block;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 2%;
  text-transform: capitalize;
}
#body > ul li p {
  color: #464646;
  font-size: 18px;
  line-height: 24px;
  margin: 0;
  padding: 0;
}

#body > div {
  margin: 0;
  overflow: hidden;
  padding: 50px 0 0;
}

#body div div {
  float: left;
  margin: 0 5%;
  padding: 0;
  text-align: center;
}
#body div .featured {
  background: #fff;
  border: 5px solid #86a9b6;
  border-radius: 4px;
  padding: 2%;
  width: 35%;
  height: 30%;
}
#body div .featured h3 {
  color: #354057;
  font-size: 30px;
  font-weight: bold;
  text-transform: none;
}
#body div .featured p {
  clear: both;
  color: #464646;
  font-size: 20px;
  line-height: 24px;
  margin: 0 0 24px;
  padding: 0;
}
#body div .section {
  width: 40%;
}
#body div .section div {
  background: #86a9b6;
  border-radius: 4px;
  float: none;
  margin: 0;
  padding: 0 15px;

}
#body div .section .articles {
  margin-bottom: 25px;
  padding: 15px 15px 20px;
  text-align: center;
}
#body div .section .articles p {
  color: #f5f5f5;
  font-size: 17px;
  line-height: 24px;
  margin: 0;
  text-align: center;
}
#body div .section .newsletter {
  height: 95px;
  padding: 25px 15px 15px 200px;
  position: relative;
}
#body div .section .newsletter p {
  color: #f5f5f5;
  font-size: 25px;
  letter-spacing: 0.03em;
  line-height: 30px;
  margin: 0;
  padding: 0;
}
#footer {
  background: #86a9b6;
  margin: 0;
  padding: 0;
}
#footer > div {
  margin: 0 auto;
  padding: 30px 0 28px;
  overflow: hidden;
  text-align: center;
  width: 960px;
}
#footer div p {
  color: #ededed;
  display: inline-block;
  float: right;
  font-size: 12px;
  letter-spacing: 0.05em;
  margin: 0;
  padding: 27px 0 0;
  text-align: center;
}
#footer div .connect {
  float: right;
  height: 18px;
  margin: 0 20px 0 150px;
  padding: 22px 20px;
  overflow: hidden;
  width: 144px;
}

