@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400&display=swap");

img {
  width: 100%;
}

body {
  background: #f3f3f3;
  line-height: 1;
  font-size: 15px;
  font-family: "Noto Sans KR", sans-serif;
  margin: 0;
  padding: 0;
}
#header {
  margin: 0 auto;
  padding: 0;
}
#header .section {
  background: #86a9b6;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
#header .section .logo {
  float: left;
  margin: 0;
  padding: 60px 0 0 10px;
  width: 324px;
}
#header .section .logo a {
  color: rgb(31, 31, 31);
  display: block;
  font-family: "Arimo-Bold";
  font-size: 60px;
  font-weight: normal;
  height: 130px;
  line-height: 130px;
  margin: 0;
  padding: 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 270px;
}
#header .section ul {
  display: inline-block;
  float: right;
  margin: 0;
  overflow: hidden;
  padding: 114px 0 0;
}
#header .section ul li {
  display: inline-block;
  float: left;
  list-style: none;
  margin: 0 10px;
  padding: 0;
}
#header .section ul li a {
  color: rgb(61, 61, 61);
  display: inline-block;
  font-size: 20px;
  height: 30px;
  letter-spacing: 0.05em;
  line-height: 30px;
  margin: 0;
  padding: 0 15px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
#header .section ul li a:hover {
  color: #ccc;
}
#header .article {
  background: #fff;
  border: 3px solid #86a9b6;
  border-radius: 4px;
  margin: 50px auto 28px;
  overflow: hidden;
  padding: 0;
  width: 936px;
}
#header .article h1 {
  color: #1b2130;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 40px;
  font-weight: normal;
  margin: 0;
  line-height: 50px;
  padding: 110px 30px 30px;
}
#body {
  margin: 0 auto;
  min-height: 812px;
  padding: 20px 0 50px;
  width: 960px;
}
#body > ul {
  margin: 0;
  overflow: hidden;
  padding: 0;
}
#body > ul li {
  float: left;
  list-style: none;
  margin: 0 10px;
  padding: 0;
  width: 220px;
}
#body > ul li b {
  color: #000;
  display: block;
  font-size: 25px;
  font-weight: normal;
  margin: 0;
  padding: 10px 0 5px;
  text-transform: capitalize;
}
#body > ul li p {
  color: #464646;
  font-size: 18px;
  line-height: 24px;
  margin: 0;
  padding: 0;
}

#body > div {
  margin: 0;
  overflow: hidden;
  padding: 50px 0 0;
}
#body h2 {
  color: #fff;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 20px;
  font-weight: normal;
  height: 47px;
  letter-spacing: 0.1em;
  left: 15px;
  line-height: 47px;
  margin: 0;
  padding: 0 25px;
  position: absolute;
  text-transform: capitalize;
  top: -14px;
}
#body div div {
  float: left;
  margin: 0 10px;
  padding: 0;
}
#body div .featured {
  background: #fff;
  border: 5px solid #86a9b6;
  border-radius: 4px;
  min-height: 450px;
  padding: 10px 15px 15px;
  position: relative;
  width: 420px;
  height: 545px;
}
#body div .featured h3 {
  color: #354057;
  font-size: 30px;
  font-weight: normal;
  text-transform: none;
}
#body div .featured p {
  clear: both;
  color: #464646;
  font-size: 20px;
  line-height: 24px;
  margin: 0 0 24px;
  padding: 0;
}
#body div .section {
  width: 460px;
}
#body div .section div {
  background: #86a9b6;
  border-radius: 4px;
  float: none;
  margin: 0;
  padding: 0 15px;
  position: relative;
}
#body div .section .article {
  height: 380px;
  margin-bottom: 25px;
  padding: 15px 15px 20px;
  text-align: right;
}
#body div .section .article p {
  color: #f5f5f5;
  font-size: 17px;
  line-height: 24px;
  margin: 0;
  text-align: left;
}
#body div .section .newsletter {
  height: 95px;
  padding: 25px 15px 15px 200px;
  position: relative;
}
#body div .section .newsletter p {
  color: #f5f5f5;
  font-size: 25px;
  letter-spacing: 0.03em;
  line-height: 30px;
  margin: 0;
  padding: 0;
}
#footer {
  background: #86a9b6;
  margin: 0;
  padding: 0;
}
#footer > div {
  margin: 0 auto;
  padding: 30px 0 28px;
  overflow: hidden;
  text-align: center;
  width: 960px;
}
#footer div p {
  color: #ededed;
  display: inline-block;
  float: right;
  font-size: 12px;
  letter-spacing: 0.05em;
  margin: 0;
  padding: 27px 0 0;
  text-align: center;
}
#footer div .connect {
  float: right;
  height: 18px;
  margin: 0 20px 0 150px;
  padding: 22px 20px;
  overflow: hidden;
  width: 144px;
}
