@import url("https://fonts.googleapis.com/css2?family=Hahmlet&display=swap");
img {
  width: 100%;
}

body {
  background: rgba(5, 47, 95, 0.1);
  line-height: 1;
  font-size: 15px;
  font-family: "Noto Sans KR", sans-serif;
  margin: 0;
  padding: 0;
}
#header {
  margin: 0 auto;
  padding: 0;
  position: sticky;
  top: 0;
  z-index: 999;
  border-bottom: 4px solid rgba(213, 198, 122, 0.7);
}
#header .section {
  background: #052f5f;
  overflow: hidden;
}

#header .section .logo {
  float: left;
  margin: 0;
  padding: 2.5%;
}
#header .section .logo a {
  color: #f1a208;
  display: block;
  font-family: "Arimo-Bold";
  font-size: 60px;
  font-weight: normal;
  height: 30%;
  margin: 0;
  padding: 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 10%;
}

#header .section ul {
  display: inline-block;
  float: right;
  margin: 0;
  overflow: hidden;
  padding: 3.8% 3% 0 0;
  width: 33%;
}
#header .section ul li {
  display: inline-block;
  list-style: none;
  margin: 0 1%;
  padding: 0;
}
#header .section ul li a {
  color: #f1a208;
  display: inline-block;
  font-size: 20px;
  height: 10%;
  letter-spacing: 0.05em;
  line-height: 30px;
  margin: 0;
  padding: 0 15px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

#header .section ul li span {
  color: #f1a208;
  display: inline-block;
  font-size: 20px;
  height: 10%;
  letter-spacing: 0.05em;
  line-height: 30px;
  margin: 0;
  padding: 0 15px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
#header .section ul li a:hover,
#header .section ul li span:hover {
  color: #d5c67a;
}

.article {
  background: #fff;
  border: 3px solid #052f5f;
  border-radius: 4px;
  margin: 3% auto;
  overflow: hidden;
  padding: 0;
  width: 65%;
  color: #000;
}
.article h1 {
  color: #1b2130;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 40px;
  font-weight: bolder;
  text-align: center;
  line-height: 50px;
  padding: 8%;
}
#body {
  margin: 0 auto;
  width: 80%;
  margin-bottom: 3%;
}
#body > ul {
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
}
#body > ul li {
  list-style: none;
  padding: 3%;
  width: 36%;
  margin-bottom: 3%;
  border: 5px solid rgba(213, 198, 122, 0.7);
  background-color: white;
  padding-top: 1%;
  box-shadow: 5px 5px 5px rgba(5, 47, 95, 0.1);
}

.body_left {
  margin-right: 8%;
  float: right;
}

.cat {
  width: 80%;
  height: 295px;
}
#body > ul li b {
  color: #000;
  display: block;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 2%;
  text-transform: capitalize;
}
#body > ul li p {
  color: #464646;
  font-size: 18px;
  line-height: 24px;
  margin: 0;
  padding: 0;
}

#body > div {
  margin: 0;
  overflow: hidden;
  padding: 50px 0 0;
}

#body div div {
  float: left;
  margin: 0 5%;
  padding: 0;
  text-align: center;
}

#footer {
  background: rgba(5, 47, 95, 0.3);
  margin: 0;
  padding: 0;
  border-top: 4px solid rgba(5, 47, 95, 0.3);
}
#footer > div {
  margin: 0 auto;
  padding: 2%;
  overflow: hidden;
  text-align: center;
  width: 100%;
  height: 50px;
}
#footer div p {
  color: black;
  display: inline-block;
  font-size: 1.3em;
  padding-top: 1.3%;
  letter-spacing: 0.05em;
  margin: 0 auto;
  text-align: center;
  font-weight: bolder;
}

#addP {
  margin-top: 8% !important;
  font-size: large;
  font-weight: bold;
  margin-bottom: 2% !important;
}

#addText {
  border: 2px solid #f4f4f4;
  background-color: rgba(5, 47, 95, 0.15);
  font-weight: bold;
}

#addErrText {
  border: 2px solid #f4f4f4;
  background-color: rgba(5, 47, 95, 0.08);
}

#addErrText span:nth-child(2) {
  margin-top: -4%;
}
